# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Data
# ----------------------------
data/*.csv
data/*.xlsx
data/*.json

# ----------------------------
# Models
# ----------------------------
models/*.pkl
models/*.joblib

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db


scripts/collect_data_ytdlp.py
